@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
    line-height: 1.5;
}

body {
    font-family: 'Inter', sans-serif;

}

img {
    display: block;
    width: 100%;
    height: auto;
} 

/* HEADER */

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    color: #FFFFFF;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: space-between;   
}

#navbar > * > * {
    transition: transform .2s;
    cursor: pointer;
}

#navbar > * > *:hover {
    transform: scale(1.1); 
}

#navleft {
    width: 32vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;     
}

#rootmain {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(media/stacked-waves-haikei-7.svg);  
    background-size: cover;
}

#rootmain > * {
    padding: 0.3rem;
}

#subtitle {  
    font-weight: 400;
    font-size: 1.8rem;
}
#maintitle {
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.1em;
}

#description {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.25em;
}

#roottext {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    font-style: normal;
    text-align: center;
}



#joinfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    background: rgb(25, 0, 57, 0.5);
    width: 32rem;
    height: 3.5rem;   
    border-radius: 100px; 
    margin-top: 1rem;
    padding-left: 1.5rem;
}

#joinemail {
    all: unset;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0.25rem;
    font-size: 1.1rem; 
    width: 20rem;
    background-color: rgb(0, 0, 0, 0);
}

#joinemail::placeholder {
    opacity: 0.55;
}

#join {
    all: unset;
    background: linear-gradient(97.54deg, #DB00FF 1.18%, #0057FF 116.63%);
    cursor: pointer;
    border-radius: 100px;   
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    width: 8rem;
    opacity: 1;
    margin: 4px;
    height:calc(100% - 8px);
    letter-spacing: 0.16em;
    color: #FFFFFF;
    transition: .2s;
}

#join:hover {
    margin: 0;
    height: 100%;
    width: 8.4rem;
    font-size: 1.8rem;
}

#marquee-setion {
    height: 8rem;
    background-color: black;
    display: flex;
    justify-content: row;
    align-items: center;
    overflow: hidden;
    gap: 1rem;
}

.marquee {
    user-select: none;
    font-size: 6rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
}

.marquee span {
    display: flex;
    text-align: center;
    min-width: 100%;
    height:100%;
    animation: marquee 15s linear infinite;
    transform: 0.2s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}


/* MAIN SECTION */

#about-timetable-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(180deg, #3911A1 0%, #E8E8E8 30%, #E8E8E8 100%);
}

#about {
    height: 20rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#about h1{
    font-weight: 500;
    font-size: 3.2rem;
    margin: 0.8rem;
}

#about-text {
    max-width: 1000px;
    line-height: 148.52%;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 300;
    font-size: 1.6rem;;
}

#timetable {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

#box-scroll {
    width: 38rem;
    height: 96%;
}

#timetable-photo {
    margin: 0.5rem;
    height: 45rem;
    width: 32rem;
    border-radius: 60px;
    background-image: url(media/space-1.jpg);
    background-size: cover;
}

#timetable-box {
    background-color: #FFFFFF;
    height: 200%;
    border-radius: 60px;
    margin: 0.5rem;
}

/* SPEAKERS */
#speakers-section {
    height: 60rem;
    background-color:#E8E8E8;
    display: flex;
}

#speakers-box {
    height: 96%;
    width: 70rem;
    background-color: white;
    border-radius: 60px;
    margin: auto;
}

/* MAP */

#map-section {
    background-color: #E8E8E8;
    height: 56rem;    
    display: flex;
}

.mapboxgl-canvas {
    border-radius: 0 0 60px 60px;
}

.mapboxgl-ctrl-bottom-left {
    padding-left: 2rem;
}

.mapboxgl-ctrl-bottom-right {
    padding-right: 3rem;
}

.mapboxgl-ctrl-group button {
    width: 29px;
    height: 29px;
}

#map-box {
    background-color: #FFFFFF;
    margin: auto;
    width: 70rem;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    border-radius: 60px;
    overflow: hidden;
}

#map-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#map {
    flex-grow: 1;
}

.body-text {
    display: flex;
    align-items: center;
    background: linear-gradient(93.51deg, #A620D3 1.27%, #4A9DEE 97.07%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.body-text.h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.2rem;
    margin: 2rem 0rem 2rem 3rem;
}

.body-text.map {
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.2rem;
    margin: 2rem 0rem 0rem 3rem;
}

.body-text.address {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 1rem 0rem 2rem 3rem;

}

#marker {
    width: 70px;
    height: 70px;
    background-image: url(media/placeholder-2.png);
    background-size: cover;
}

/* REGISTRATION */

#registration-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E8;
}

#reg-text-box {
    margin: 1rem;
    background-color: #FFFFFF;
    width: 70rem;
    border-radius: 60px;
    display: flex;
    align-items: center;
}

#reg-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    height: 8rem;
    width: 70rem;
}

#reg-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    font-weight: 300;
    flex-grow: 2;
    height: 100%;
    color: #000000;
    font-size: 1.1rem;
}

.reg-input-field {
    all: unset;
    border-radius: 60px;
    background-color: #FFFFFF;
    padding: 0 0 0 2rem;
    flex-grow: 1;
}

.reg-input-field::placeholder {
    opacity: 0.6;
    color: #000000;

}

.reg-input-field.name {
    margin: 0 1rem 1rem 0;
}

.reg-input-field.email {
    margin: 0 1rem 0 0;
}

#reg-button {
    all: unset;
    cursor: pointer;
    flex-grow: 1;
    height: 100%;
    background: linear-gradient(128.22deg, #B700FF -4.48%, #3A1EA0 102.5%);
    border-radius: 60px;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}

/* FOOTER */

footer {
    background-color: #0B1E86;
    
}

#footer-content {
    height: 6rem;
    margin-top: -3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;

}

#contacts {
    font-weight: 300;
    list-style-type: none;

}

#social-medias {
    font-weight: 300;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#social-medias > * {
    all: unset;
    margin: 2rem;
    cursor: pointer;
    opacity: 0.7;
}

#social-medias img {
    object-fit: cover;
    width: auto;
    height: 3rem;
}

.wave-footer {
    background-color: #E8E8E8;
    width: 100%;
    background-size: cover;
    height: 20rem;
    background-image: url(media/layered-waves-haikei-2.svg);
}

#pcu-logo {
    all: unset;
    cursor: pointer;
    opacity: 0.7;
}


